@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?bbdrau');
    src: url('../fonts/icomoon.eot?bbdrau#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?bbdrau') format('truetype'), url('../fonts/icomoon.woff?bbdrau') format('woff'), url('../fonts/icomoon.svg?bbdrau#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
    content: "\e902";
}

.icon-newspaper:before {
    content: "\e904";
}

.icon-bullhorn:before {
    content: "\e91a";
}

.icon-books:before {
    content: "\e920";
}

.icon-library:before {
    content: "\e921";
}

.icon-lab:before {
    content: "\e9aa";
}